* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary-color: #f8f8f8;
    --primary-dark: #ffffff;
    --secondary-color: #f47400;
    --secondary-light-color: #ffac48;
    --border: #dddddd;
    --info-text-color: #757575;
    --white: #333333;
    --button-color: #ffffff;
}

.main-content {
    min-width: 400px;
    background: var(--primary-color);
}

.after-content {
    width: 100%;
}

.content-head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1.5px solid var(--border);
}

.content-logo-box {
    margin-right: 8px;
}

.content-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}

.content-sub-title {
    color: var(--info-text-color);
    margin-bottom: 7px;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--primary-dark);
    border-top: 1.5px solid var(--border);
}

/* Information Texts */
.content-information-box {
    padding: 0px 12px 0px 12px;
    margin-bottom: 8px;
}

.content-information {
    font-size: 12px;
    color: var(--info-text-color);
}

/* Button Styles Styles */
.btn {
    width: 100%;
    padding: 10px 8px;
    background: none;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(to top, var(--secondary-color), var(--secondary-light-color));
    color: var(--button-color);
    font-size: 16px;
    font-weight: 500;
}

/* Radio Box Styles */
.content-radio-box-group {
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
}

.content-radio {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1.5px solid var(--border);
    background: var(--primary-dark);
    color: var(--white);
    cursor: pointer;
}

.content-radio:first-child {
    margin-right: 8px;
}

input[type=radio] {
    --s: 2em;
    --c: var(--secondary-color);
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s) / 9) solid var(--border);
    padding: calc(var(--s) / 9);
    background: radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s) / 6);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 10px;
    cursor: pointer;
    transition: .3s;
}

input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
}

input[type=radio]:disabled {
    background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
}

@media print {
    input[type=radio] {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        background: none;
    }
}

label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

/* Selector Field CSS */
.content-advanced-content {
    padding: 0px 15px 10px 15px;
}

.field-box-main {
    margin-bottom: 8px;
}

.field-label {
    font-size: 12px;
    color: var(--info-text-color);
}

.field {
    width: 100%;
    padding: 10px 8px;
    cursor: pointer;
    background: var(--primary-dark);
    border: 1px solid var(--border);
    color: var(--white);
    border-radius: 5px;
}
